name: Deploy blog
on:
  push:
    branches:
      - master
env:
  ACTIVATE_VENV: 0
  TERM: xterm
  BRANCH: master
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Update content.json
        run: |
          pip3 install flask
          echo "Here I update content.json from md files metadata"
      - name: Build site
        run: |
          pip3 install flask markdown
          ./build
      - name: Commit files
        run: |
          git config --local user.email "ci@monadical.com"
          git config --local user.name "CI Monadical"
          git add templates/
          git add docs/
          git commit -m "Stevie blog static site built by github actions" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.AUTODEPLOY_GITHUB_TOKEN }}
          branch: ${{ env.BRANCH }}
